.full_loader{
    background-color: #121212;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
}
 .main-load{
   width: 90%;
   max-width: 600px;
   margin: 30px;
   position: relative;
   top: -5%;
}
.main-load h5{
   text-align: center;
   color: silver;
   padding: 5px;
}

/* ------------------------ */
.linear-loader {
    overflow: hidden;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}
.linear-loader div:nth-child(1) {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    height: 100%;
    width: 30%;
    background-color: #e50e1d;
    animation: anim1 3s cubic-bezier(0.49, 0.7, 0.7, 0.35) infinite, anim2 2s ease-in-out infinite;
}
.linear-loader div:nth-child(2) {
    content: '';
    left: 0;
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #e50e1d;
    animation: anim1 3s cubic-bezier(0.49, 0.7, 0.7, 0.35) infinite, anim2 3.5s ease-in-out infinite;
    animation-delay: 1.3s;
}


@keyframes anim1 {
    0% {
        left: 0;
        transform: translateX(-100%);
   }
    55% {
        left: 100%;
        transform: translateX(0%);
   }
    100% {
        left: 100%;
        transform: translateX(0%);
   }
}
@keyframes anim2 {
    0% {
        width: 30%;
   }
    50% {
        width: 70%;
   }
    100% {
        width: 30%;
   }
}
.full_loader.preload-finish {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  }